/*
* @Author: bao.luu
* @Date:   2016-10-21 13:54:13
* @Last Modified by:   bao.luu
* @Last Modified time: 2016-10-21 16:49:13
*/

div.login {
	height          : 100vh;
	min-height      : 100%;
	background-color: black;
	color           : white;
}

div.login_form {
	margin: 30vh;
}